html, body {
  height: 99vh;
  width: 100vw;
  margin: 0;
}

a {
  font-weight: bold;
}

a:hover {
  background-size: 0 2px, 100% 2px;
}

pre {
  font-family: var(--mono-font), monospace;
  line-height: 1;
}

.header {
  display: flex;
  height: 15vh;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.main {
  display: flex;
  width: 100%;
  height: 80%;
}

#left, #right {
  display: flex;
  width: 50%;
  height: 100%;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 2em;
}

#left {
  flex-direction: column;
}

