.content {
  max-width: 80%;
  padding: 5rem 0;
  margin-left: auto;
  margin-right: auto;
}

.date {
  font-size: 1.5rem;
  font-style: italic;
  font-weight: bold;
}

figure {
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
}

figure img {
  margin-left: auto;
  margin-right: auto;
  width: 500px;
}

figcaption {
  margin-left: auto;
  margin-right: auto;
  display: inline-block;
  font-size: .9rem;
  font-style: italic;
  color: var(--soft-fg-color);
}

blockquote {
  border-left: 10px solid var(--bq-border-color);
  margin-left: 0;
  padding-left: 40px;
}

code {
  margin: 0 5px;
  padding: 2px 5px;
  background: var(--code-bg-color);
  font-size: 1rem;
}

.sourceCode {
  background: var(--code-bg-color);
}

.dt {
  color: var(--dt-color);
}

.st {
  color: var(--st-color);
}
