:root {
  --main-bg-color: #2E3440;
  --main-fg-color: #d8dee9;
  --soft-fg-color: #81858b;
  --h1-fg-color: #d08770;
  --h3-fg-color: #ebcb8b;
  --highlight-color: #81a1c1;
  --standout-color: #a3be8c;
  --standout-color-bright: #8fbcbb;
  --date-color: #b48ead;
  --code-bg-color: #434c5e;
  --code-fg-color: #eceff4;
  --blockquote-border-color: #506c6f;
  --link-fg-color: #5e81ac;
  --link-hl-color: #88c0d0;
  --name-fg-color: #984b98;
  --dt-color: #db9c43;
  --st-color: #dd8bce;
  --section-title-color: #9a769a;

  --main-font: "Marion";
  --mono-font: "FreeMono";
  --header-font: "Trueno";
  --section-title-font: var(--header-font);
  --quote-font: "Space Grotesk";

  --base-font-size: 20px;
  --section-title-font-size: 2em;
  --section-body-font-size: 1.5em;
  --h3-font-size: 1.2em;
  --gradient-start: 255, 27, 141, 1;
  --gradient-middle: 255, 218, 0, 1;
  --gradient-end: 27, 179, 255, 1;
} 

@media only screen
and (max-device-width: 926px)
{
  :root {
    --base-font-size: 35px;
  }
}
