body {
  display: flex;
  flex-direction: column;
}

#headshot {
  border-radius: 50%;
  max-width: 120px;
  padding: 5px;
  border: 1px solid;
  margin: 0 auto;
}

.nav {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  padding-left: 2em;
}

.section-title {
  font-family: var(--section-title-font);
  font-size: var(--section-title-font-size);
  color: var(--section-title-color);
  padding-bottom: 1rem;
  text-align: center;
}

#name {
  text-align: center;
  color: var(--name-fg-color);
  font-family: var(--header-font);
}

#projects, #contact {
  display: none;
}

#quote {
  font-family: var(--quote-font);
  font-style: italic;
  font-weight: bold;
  text-align: center;
  padding-bottom: 2em;
}

#quote:before {
  content: "“"
}

#quote:after {
  content: "\"";
}

.blurb h3 {
  font-weight: bold;
  font-size: var(--h3-font-size);
  font-family: var(--header-font);
  color: var(--h3-fg-color);
  margin-bottom: 0;
  text-align: center;
}

.blurb ul {
  padding: 0 2rem;
  text-align: justify;
}

.footer ul {
  display: flex;
}

.footer li {
  display: inline-flex;
  margin-left: auto;
  margin-right: auto;
  padding: 0 20px;
}

@media only screen
and (min-width : 1224px) {

  .nav a:hover {
    color: var(--link-fg-color);
  }

  .section-container {
    max-width: 780px;
    padding: 5rem 0;
    margin-left: auto;
    margin-right: auto;
    height: 100vh;
  }

  .section-body {
    font-size: var(--section-body-font-size);
  }

  .sidebar {
    filter: opacity(20%) grayscale(1);
    transition: filter 600ms ease-in;
  }

  .sidebar:hover {
    filter: none;
    transition: filter 600ms ease-in-out;
  }

  .blurb h3 {
    padding-left: 1.5em;
  }

  .footer {
    margin-top: auto;
  }

  .footer a:hover {
    background-size: 100% 1px, 0 1px;
    animation: pulse 1.5s ease-in-out infinite both;
  }

  @keyframes pulse {
    from {
      transform: scale(1);
    }
    50% {
      transform: scale(1.4);
    }
    to {
      transform: scale(1);
    }
  }
}
