*, *:before, *:after {
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  width: 82vw;
  margin: 0;
  background: var(--main-bg-color);
  color: var(--main-fg-color);
  font-family: var(--font-main), var(--font-fallback), sans-serif;
  font-size: var(--font-size);
}

a {
  color: var(--link-fg-color);
  text-decoration: none;
  background:
    linear-gradient(
      to right,
      rgba(255, 255, 255, 0),
      rgba(255, 255, 255, 0)
    ),
    linear-gradient(
      to right,
      rgba(var(--gradient-start)),
      rgba(var(--gradient-middle)),
      rgba(var(--gradient-end))
    );
  background-size: 100% 1px, 0 1px;
  background-position: 100% 100%, 0 100%;
  background-repeat: no-repeat;
  transition: background-size 400ms, color 400ms;
}

a:hover {
  color: var(--link-hl-color);
  background-size: 0 1px, 100% 1px;
  transition: background-size 400ms;
}

i {
  color: var(--link-fg-color);
  font-size: 20px;
  transition: all 400ms;
}

ul {
  list-style: none;
  padding: 0;
}

li:before {
  content: "";
}

li {
  padding: 2px 0;
  text-decoration: none;
}

.content {
  width: 80vw;
  padding: 0 10em;
}

.nav {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  padding-left: 2em;
}

.nav a:hover {
  color: var(--link-fg-color);
}

.section-container {
  max-width: 780px;
  padding: 5rem 0;
  margin-left: auto;
  margin-right: auto;
  height: 100vh;
}

#projects, #contact {
  display: none;
}

.section-title {
  font-family: var(--section-title-font);
  font-size: var(--section-title-font-size);
  color: var(--section-title-color);
  padding-bottom: 1rem;
}

.section-body {
  font-size: var(--section-body-font-size);
}

.sidebar {
  position: fixed;
  top: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  width: 18vw;
  height: 100%;
  padding-right: 5em;
  padding-top: 2em;
  padding-bottom: 2em;
  filter: opacity(20%) grayscale(1);
  transition: filter 600ms ease-in;
}

.sidebar:hover {
  filter: none;
  transition: filter 600ms ease-in-out;
}

#headshot {
  border-radius: 50%;
  max-width: 120px;
  padding: 5px;
  border: 1px solid;
  margin: 0 auto;
}

#name {
  text-align: center;
  color: var(--name-fg-color);
  font-family: var(--header-font);
}

#quote {
  font-family: var(--quote-font);
  font-style: italic;
  font-weight: bold;
  text-align: justify;
  padding-bottom: 2em;
}

#quote:before {
  content: "“"
}

#quote:after {
  content: "\"";
  }

.blurb h3 {
  font-weight: bold;
  font-size: var(--h3-font-size);
  font-family: var(--header-font);
  color: var(--h3-fg-color);
  padding-left: 1.5em;
  margin-bottom: 0;
}

.blurb li {
  padding-bottom: .5em;
}

.footer {
  margin-top: auto;
}

.footer ul {
  display: flex;
}

.footer li {
  display: inline-flex;
  margin-left: auto;
  margin-right: auto;
  padding: 0 20px;
}

.footer a:hover {
  background-size: 100% 1px, 0 1px;
  animation: pulse 1.5s ease-in-out infinite both;
}

@keyframes pulse {
  from {
    transform: scale(1);
  }
  50% {
    transform: scale(1.4);
  }
  to {
    transform: scale(1);
  }
}
