:root {
  --main-bg-color: #062e32;
  --main-fg-color: #c2cccd;
  --link-fg-color: #c2cccd;
  --link-hl-color: #984b98;
  --h3-fg-color: #e2a50d;
  --font-mono: "Dank Mono";
  --font-size-normal: 16px;
  --gradient-start: 255, 27, 141, 1; 
  --gradient-middle: 255, 218, 0, 1;
  --gradient-end: 27, 179, 255, 1;
}

*, *:before, *:after {
  box-sizing: border-box;
}

body {
  display: flex;
  width: 100vw;
  height: 100vh;
  margin: 0;
  background: var(--main-bg-color);
  color: var(--main-fg-color);
  font-family: var(--font-mono), monospace;
  font-size: var(--font-size-normal);
  line-height: 20px;
}

a {
  color: var(--link-fg-color);
  text-decoration: none;
  background:
    linear-gradient(
      to right,
      rgba(255, 255, 255, 0),
      rgba(255, 255, 255, 0)
    ),
    linear-gradient(
      to right,
      rgba(var(--gradient-start)),
      rgba(var(--gradient-middle)),
      rgba(var(--gradient-end))
    );
  background-size: 100% 1px, 0 1px;
  background-position: 100% 100%, 0 100%;
  background-repeat: no-repeat;
  transition: background-size 400ms, color 400ms;
}

a:hover {
  color: var(--link-hl-color);
  background-size: 0 1px, 100% 1px;
  transition: background-size 400ms, color 400ms;
}

ul {
  list-style: none;
  padding: 0;
}

li:before {
  content: "- ";
}

li {
  padding: 2px 0;
  text-decoration: none;
}

h3 {
  transition: color 400ms;
}

.sidebar {
  display: flex;
  flex-direction: column;
  width: 20vw;
  height: 100vh;
  padding-right: 10em;
  padding-top: 2em;
}

.sidebar p {
  padding-left: 0 25px;
  line-height: 30px;
}

.sidebar h3 {
  font-weight: bold;
  font-size: var(--font-size-normal);
  margin-bottom: 0;
  transition: color 400ms;
}

.content {
  width: 80vw;
  padding: 2em 10em;
}

.nav > ul {
  font-weight: bold;
}

.nav > ul > li:before {
  content: "";
}

#headshot {
  filter: grayscale(1);
  transition: filter 400ms;
}

.sidebar:hover #headshot {
  filter: none;
  transition: filter 400ms;
}

.sidebar:hover h3 {
  color: var(--h3-fg-color);
  transition: color 400ms;
}

.sidebar:hover a {
  color: var(--link-hl-color);
  transition: background 400ms, color 400ms;
}
